.zt-banner{
    width:100%;
    height:7.2rem; 
    min-height:250px;   
    font-weight:bold;
    color:#fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.zt-banner1{
    background:url(../images/banner1.jpg) no-repeat;
    background-size:auto 100%;
    background-position:right;
}
.zt-banner2{
    background:url(../images/banner2.jpg) no-repeat;
    background-size:auto 100%;
    background-position:right;
}
.zt-banner3{
    background:url(../images/banner3.jpg) no-repeat;
    background-size:auto 100%;
    background-position:right;
}
.zt-banner4{
    background:url(../images/banner4.jpg) no-repeat;
    background-size:auto 100%;
    background-position:right;
}
.zt-banner>div{
    width:100%;
    padding-top:0.5rem;
}
.zt-banner h1{
    font-size:0.72rem;    
    text-align:center;
}
.zt-banner h4{
    font-size:0.36rem;    
    text-align:center;
    margin-top:0.2rem;
}